helllo.exe
game.exe
a.exe
build/Debug/helloworld.o
build/Debug/outDebug.exe
dark_bar.png
.vscode/c_cpp_properties.json
 student.txt
.vscode/launch.json
.vscode/tasks.json
.vscode/settings.json
demo.py
game.c
text.txt
truffles.png
hero.png
helloworld.exe
helloworld.c
helloworld.c
helloworld.c
*.c
*.c
